@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  margin: auto;
  padding: 2rem;
  background: rgb(42,46,63);
  color: white;
  text-align: center;
}

.frame {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: rgb(230, 50, 95);
  font-size: 25px;
  text-shadow: 2px 2px 2px black;
}

input {
  background: rgb(53, 58, 80);
  border: none;
  width: 100%;
  outline: none;
  color: white;
  font-size: 25px;
  border-radius: 5px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12);
}

a {
  color: white;
  font-size: 20px;
  background: rgb(230, 50, 95);
  width: 101%;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
  outline: none;
  text-shadow: 1px 1px 1px black;
}
